<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter mobile number, muse be: admin or user">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="username: admin or user" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter password, muse be: ng-alain.com">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" placeholder="password: ng-alain.com" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'validation.verification-code.required' | translate">
      <nz-row [nzGutter]="8">
        <nz-col [nzSpan]="16">
          <nz-input-group nzSize="large" nzPrefixIcon="mail">
            <input nz-input formControlName="captcha" placeholder="captcha" />
          </nz-input-group>
        </nz-col>
        <nz-col [nzSpan]="8" class="code-img">
          <img [src]="codeImg" (click)="refresh()" />
        </nz-col>
      </nz-row>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">{{ 'app.login.remember-me' | translate }}</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" (click)="msg.error('请找欧阳锋')">{{ 'app.login.forgot-password' | translate }}</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
</form>
