<!-- <div class="toolbar">
  <button class="button" [disabled]="!geolocation" (click)="locate()">我的位置</button>
</div> -->
<!-- <div id="menu">
  <label for="speed" style="font-weight: bold;">
      运动速度:&nbsp;
      <input id="speed" type="range" min="1" max="20" step="1" value="10" />
  </label>
  <button id="start-animation">
      开始运动
  </button>
</div> -->
<!-- 注：此代码仅为上面速度条和按钮-->
<div class="fine1-map">
  <div id="map" class="map"></div>
  <div class="tool-bar" cdkDragBoundary=".fine1-map" cdkDrag>
    <div class="search">
      <nz-space>
        <nz-space-item>
          <nz-input-group class="search-ipt" nzSearch [nzAddOnAfter]="suffixIconButton" [nzSuffix]="inputClearTpl">
            <input
              type="text"
              nz-input
              placeholder="搜索垃圾运输车、垃圾点"
              #ipt
              [(ngModel)]="inputValue"
              (ngModelChange)="iptChange($event)"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="query(ipt.value)"><i nz-icon nzType="search"></i></button>
          </ng-template>
          <ng-template #inputClearTpl
            ><i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="inputValue" (click)="inputValue = null"></i
          ></ng-template>
        </nz-space-item>
        <nz-space-item nzAlign="center">
          <div class="show-name">
            <label nz-checkbox [(ngModel)]="isShowName" (ngModelChange)="showNameChange($event)">标题</label>
          </div>
        </nz-space-item>
      </nz-space>
    </div>
    <div class="tab">
      <nz-card
        style="width: 100%"
        [nzBodyStyle]="{
          padding: '0'
        }"
        nzBorderless="true"
      >
        <nz-card-tab>
          <div>
            <nz-tabset
              [nzCentered]="true"
              nzSize="small"
              [nzTabBarGutter]="3"
              [(nzSelectedIndex)]="tabIndex"
              (nzSelectedIndexChange)="selectedIndexChange($event)"
            >
              <nz-tab [nzTitle]="carTitle">
                <ng-template #carTitle>
                  垃圾运输车
                  <i *ngIf="carVisible" nz-icon nzType="eye" nzTheme="outline" (click)="pointVisibleChange(0)"></i>
                  <i *ngIf="!carVisible" nz-icon nzType="eye-invisible" nzTheme="outline" (click)="pointVisibleChange(0)"></i>
                </ng-template>
              </nz-tab>
              <nz-tab [nzTitle]="siteTitle">
                <ng-template #siteTitle>
                  垃圾点
                  <i *ngIf="siteVisible" nz-icon nzType="eye" nzTheme="outline" (click)="pointVisibleChange(1)"></i>
                  <i *ngIf="!siteVisible" nz-icon nzType="eye-invisible" nzTheme="outline" (click)="pointVisibleChange(1)"></i>
                </ng-template>
              </nz-tab>
              <nz-tab [nzTitle]="baseTitle">
                <ng-template #baseTitle>
                  处理基地
                  <i *ngIf="baseVisible" nz-icon nzType="eye" nzTheme="outline" (click)="pointVisibleChange(2)"></i>
                  <i *ngIf="!baseVisible" nz-icon nzType="eye-invisible" nzTheme="outline" (click)="pointVisibleChange(2)"></i>
                </ng-template>
              </nz-tab>
              <nz-tab [nzTitle]="transferTitle">
                <ng-template #transferTitle>
                  中转站
                  <i *ngIf="transferVisible" nz-icon nzType="eye" nzTheme="outline" (click)="pointVisibleChange(3)"></i>
                  <i *ngIf="!transferVisible" nz-icon nzType="eye-invisible" nzTheme="outline" (click)="pointVisibleChange(3)"></i>
                </ng-template>
              </nz-tab>
            </nz-tabset>
            <div class="fold-btn">
              <a nzSize="small" nz-button nzType="link" *ngIf="isExpand" (click)="isExpand = !isExpand"
                ><i nz-icon nzType="down" nzTheme="outline"></i
              ></a>
              <a nzSize="small" nz-button nzType="link" *ngIf="!isExpand" (click)="isExpand = !isExpand"
                ><i nz-icon nzType="up" nzTheme="outline"></i
              ></a>
            </div>
          </div>
        </nz-card-tab>
        <nz-collapse nzGhost class="search-collapse">
          <nz-collapse-panel [(nzActive)]="isExpand">
            <div>
              <ng-container *ngIf="tabIndex == 0">
                <nz-list nzSize="small">
                  <nz-list-item *ngFor="let item of pageData" class="pointer" (click)="checkChange(!item.checked, item)">
                    <nz-space>
                      <nz-space-item>
                        <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="checkChange($event, item)"></label>
                      </nz-space-item>

                      <nz-space-item>
                        <div class="task-name">{{ item.carNum }} {{ item.comClearTypeName && '[' + item.comClearTypeName + ']' }}</div>
                      </nz-space-item>
                      <nz-space-item>
                        <nz-tag [nzColor]="'#108ee9'">{{ item.speedStatus }}</nz-tag>
                      </nz-space-item>
                    </nz-space>
                  </nz-list-item>
                  <nz-list-pagination>
                    <nz-pagination
                      nzSize="small"
                      [nzPageIndex]="listPagination.pageIndex"
                      [nzPageSize]="listPagination.pageSize"
                      [nzTotal]="data.length"
                      (nzPageIndexChange)="listPagination.onChange($event)"
                    ></nz-pagination>
                  </nz-list-pagination>
                </nz-list>
              </ng-container>

              <ng-container *ngIf="tabIndex == 1">
                <nz-list nzSize="small">
                  <nz-list-item *ngFor="let item of pageData" class="pointer" (click)="checkChange(!item.checked, item)">
                    <nz-space>
                      <nz-space-item>
                        <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="checkChange($event, item)"></label>
                      </nz-space-item>

                      <nz-space-item>
                        <div class="site">
                          <div class="site-title">
                            <ellipsis lines="1" tooltip>
                              {{ item.Name }} {{ item.workContentName && '[' + item.workContentName + ']' }}
                            </ellipsis>
                          </div>
                          <div class="site-address">
                            {{ item.site }}
                          </div>
                        </div>
                      </nz-space-item>
                    </nz-space>
                  </nz-list-item>
                  <nz-list-pagination>
                    <nz-pagination
                      nzSize="small"
                      [nzPageIndex]="listPagination.pageIndex"
                      [nzPageSize]="listPagination.pageSize"
                      [nzTotal]="data.length"
                      (nzPageIndexChange)="listPagination.onChange($event)"
                    ></nz-pagination>
                  </nz-list-pagination>
                </nz-list>
              </ng-container>

              <ng-container *ngIf="tabIndex == 2">
                <nz-list nzSize="small">
                  <nz-list-item *ngFor="let item of pageData" class="pointer" (click)="checkChange(!item.checked, item)">
                    <nz-space>
                      <nz-space-item>
                        <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="checkChange($event, item)"></label>
                      </nz-space-item>

                      <nz-space-item>
                        <div class="site">
                          <div class="site-title">{{ item.plantName }}</div>
                          <div class="site-address">
                            {{ item.plantAddress }}
                          </div>
                        </div>
                      </nz-space-item>
                    </nz-space>
                  </nz-list-item>
                  <nz-list-pagination>
                    <nz-pagination
                      nzSize="small"
                      [nzPageIndex]="listPagination.pageIndex"
                      [nzPageSize]="listPagination.pageSize"
                      [nzTotal]="data.length"
                      (nzPageIndexChange)="listPagination.onChange($event)"
                    ></nz-pagination>
                  </nz-list-pagination>
                </nz-list>
              </ng-container>

              <ng-container *ngIf="tabIndex == 3">
                <nz-list nzSize="small">
                  <nz-list-item *ngFor="let item of pageData" class="pointer" (click)="checkChange(!item.checked, item)">
                    <nz-space>
                      <nz-space-item>
                        <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="checkChange($event, item)"></label>
                      </nz-space-item>

                      <nz-space-item>
                        <div class="site">
                          <div class="site-title">
                            <ellipsis lines="1" tooltip>
                              {{ item.plantName }}
                            </ellipsis>
                          </div>
                          <div class="site-address">
                            {{ item.plantAddress }}
                          </div>
                        </div>
                      </nz-space-item>
                    </nz-space>
                  </nz-list-item>
                  <nz-list-pagination>
                    <nz-pagination
                      nzSize="small"
                      [nzPageIndex]="listPagination.pageIndex"
                      [nzPageSize]="listPagination.pageSize"
                      [nzTotal]="data.length"
                      (nzPageIndexChange)="listPagination.onChange($event)"
                    ></nz-pagination>
                  </nz-list-pagination>
                </nz-list>
              </ng-container>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-card>
    </div>
  </div>
  <div class="view-bar" cdkDragBoundary=".fine1-map" cdkDrag>
    <div class="view-bar_container">
      <div>
        <span>
          <img src="./assets/images/菜单.svg" />
        </span>
        菜单
      </div>
      <div>
        <span>
          <img src="./assets/images/路况.svg" />
        </span>
        路况
      </div>
      <div>
        <span>
          <img src="./assets/images/卫星.svg" />
        </span>
        卫星
      </div>
    </div>
  </div>

  <!-- <div class="tips">
    {{ fine1MapSrv.tips }}
  </div> -->
  <!-- <div class="view-info">
    <ng-template #extraTemplate>
      <a><i nz-icon nzType="close" nzTheme="outline"></i></a>
    </ng-template>
    <nz-card
      [nzBordered]="false"
      [nzBodyStyle]="{
        padding: 0,
        margin: '0 8px',
        'background-color': '#F6F6F6'
      }"
      nzTitle="粤BDH6233果蔬垃圾"
      [nzExtra]="extraTemplate"
    >
      <p>分类：果蔬垃圾</p>
      <p>基地：红花果子</p>
      <p>地址：广东省深圳市南山区红花路112号</p>
    </nz-card>
  </div> -->

  <ng-template #carTpl let-item="data">
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-content">
        <div>
          <div class="ant-notification-notice-message">
            {{ item.carNum }} {{ item.comClearTypeName && '[' + item.comClearTypeName + ']' }}
          </div>
          <div class="ant-notification-notice-description">
            <div>
              <p>垃圾分类：{{ item.comClearTypeName }}</p>
              <p>车辆状态：{{ item.speedStatus }}</p>
              <p>行驶速度：{{ item.speed }}km/h</p>
              <p>
                操作：
                <a (click)="viewVideo(item)">查看实时监控</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="viewRealTime(item)">查看实时轨迹</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="viewHistory(item)">查看历史轨迹</a>
                <!-- <nz-space nzSize="small">
                  <nz-space-item>
                   
                  </nz-space-item>
                  <nz-space-item>
                    <a nz-button nzType="link" nzBlock>查看历史轨迹</a>
                  </nz-space-item>
                </nz-space> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #crapTpl let-item="data">
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-content">
        <div>
          <div class="ant-notification-notice-message">
            {{ item.Name }}
          </div>
          <div class="ant-notification-notice-description">
            <div>
              <p>垃圾点类型：{{ item.siteTypeName }}</p>
              <p>垃圾分类：{{ item.workContentName }}</p>
              <p>垃圾点地址：{{ item.site }}</p>
              <p>
                操作：
                <a (click)="viewWorkSiteDevice(item)">硬件信息</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="viewTodayDayCount(item)">当天称重数量</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="viewDeviceEvent(item)">摄像头事件</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #baseTpl let-item="data">
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-content">
        <div>
          <div class="ant-notification-notice-message">
            {{ item.plantName }}
          </div>
          <div class="ant-notification-notice-description">
            <div>
              <p>基地地址：{{ item.plantAddress }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #transferTpl let-item="data">
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-content">
        <div>
          <div class="ant-notification-notice-message">
            {{ item.carNum }} {{ item.comClearTypeName && '[' + item.comClearTypeName + ']' }}
          </div>
          <div class="ant-notification-notice-description">
            <div>
              <p>垃圾类型：{{ item.comClearTypeName }}</p>
              <p>车辆状态：{{ item.speedStatus }}</p>
              <p>行驶速度：{{ item.speed }}km/h</p>
              <p>
                操作：
                <a (click)="viewVideo(item)">查看实时监控</a> <nz-divider nzType="vertical"></nz-divider>
                <a (click)="viewHistory(item)">查看历史轨迹</a>
                <!-- <nz-space nzSize="small">
                  <nz-space-item>
                   
                  </nz-space-item>
                  <nz-space-item>
                    <a nz-button nzType="link" nzBlock>查看历史轨迹</a>
                  </nz-space-item>
                </nz-space> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #videoTpl let-params>
    <div id="videoMonitoring" style="height: 332px"></div>
  </ng-template>

  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
      <div *ngIf="tipBoxTarget.tabIndex == 0">
        <p>车辆名称： {{ tipBoxTarget.carNum }} {{ tipBoxTarget.comClearTypeName && '[' + tipBoxTarget.comClearTypeName + ']' }}</p>
        <p>垃圾分类：{{ tipBoxTarget.comClearTypeName }}</p>
        <p>车辆状态：{{ tipBoxTarget.speedStatus }}</p>
        <p>行驶速度：{{ tipBoxTarget.speed }}km/h</p>
      </div>
      <div *ngIf="tipBoxTarget.tabIndex == 1">
        <p>垃圾点名称：{{ item.Name }}</p>
        <p>垃圾点类型：{{ item.siteTypeName }}</p>
        <p>垃圾分类：{{ item.workContentName }}</p>
        <p>垃圾点地址：{{ item.site }}</p>
      </div>
      <div *ngIf="tipBoxTarget.tabIndex == 2">
        <p>基地名称：{{ tipBoxTarget.plantName }}</p>
        <p>基地地址：{{ tipBoxTarget.plantAddress }}</p>
      </div>
      <div *ngIf="tipBoxTarget.tabIndex == 3"></div>
    </div>
  </div>
</div>
