:host {
  .map {
    width: 100%;
    height: calc(100vh - 45px);
  }

  .tool-bar {
    position: absolute;
    top: 10%;
    width: 400px;
    padding: 16px 16px 0 24px;
    background-color: white;
  }
  .ant-list-footer {
    text-align: center;
  }
  .task-name {
    width: 203px;
  }
}
