:host {
  .map {
    width: 100%;
    height: calc(100vh - 45px);
  }
  .search {
    width: 356px;
  }

  .tool-bar {
    position: absolute;
    top: 10%;
    width: 400px;
    padding: 16px 16px 0 24px;
    background-color: white;
  }
  .space-between {
    justify-content: space-between;
  }
  .ant-list-footer {
    text-align: center;
  }
  .task-name {
    width: 228px;
  }
  .view-bar {
    position: absolute;
    top: 10%;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    padding: 8px 8px;
    background-color: white;
    img {
      width: 20px;
    }
  }

  .view-info {
    position: absolute;
    top: calc(10% + 50px);
    right: 24px;
    width: 300px;
    background-color: white;
  }
}
