<nz-card class="f-cart">
  <div nz-row [nzGutter]="[24, 24]">
    <div nz-col nzSpan="24">物流订单编码: {{ baseData.transBillno }}</div>
  </div>
  <div nz-row>
    <div nz-col nzLg="8" nzSm="24">发车时间: {{ baseData.trans_date }}</div>
    <div nz-col nzLg="8" nzSm="24">查询时间: {{ baseData.s_date }}</div>
  </div>
  <div nz-row style="margin-top: 8px">
    <div nz-col nzSpan="24">
      <track-path-history></track-path-history>
    </div>
  </div>
  <div nz-row style="margin-top: 8px">
    <div nz-col nzSpan="24">
      <div id="f-echart">图表</div>
    </div>
  </div>
</nz-card>
